<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
	<connectionStrings>
		<clear />
		<add name="dbWebThaiHerbs" connectionString="Data Source=LAPTOP-QHCN2TI1;Initial Catalog=Thai_Herbs_Web;Integrated Security=False;Persist Security Info=True;TrustServerCertificate=True;User ID=earth; Password=1234;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>