body {



}


/* CSS */
.radio-input {
    display: none;
}

.radio-label {
    cursor: pointer;
    font-size: 30px;
}

    .radio-label:before {
        content: '★';
    }

.radio-input:checked ~ .radio-label:before {
    color: yellow; /* สีของดาวที่เลือก */
}



.btnreview {
    float: right;
    white-space: pre-wrap;
    transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    transition: border-radius 0.3s ease;
    border: 5px;
}
    .btnreview:hover {
        background-color: darkslategrey;
        border-radius: 20px;
        color: white;
    }